# python
autopep8==2.3.2
bandit==1.8.3
black==25.1.0
flake8==7.1.2
isort==6.0.0
mypy==1.15.0
pycodestyle==2.12.1
pylint==3.3.4

# other
bashate==2.1.1
checkov==3.2.372
proselint==0.14.0
sqlfluff==3.3.1
yamllint==1.35.1
