# python
autopep8==2.3.1
bandit==1.8.2
black==24.10.0
flake8==7.1.1
isort==5.13.2
mypy==1.14.1
pycodestyle==2.12.1
pylint==3.3.3

# other
bashate==2.1.1
checkov==3.2.352
proselint==0.14.0
sqlfluff==3.3.0
yamllint==1.35.1
