# OS stuff
.DS_Store
._*
Thumbs.db
[Dd]esktop.ini
*~

# editors
.vscode/
.idea/
*.sublime-*
Package Control.*
*.vim

# dependencies
node_modules/
venv/
.bundle/
node_modules/
vendor/
composer.phar
dist/
