# OS stuff
._*
.DS_Store
[Dd]esktop.ini
*~
Thumbs.db

# editors
.idea/
.vscode/
*.sublime-*
*.vim
Package Control.*

# dependencies
Brewfile.lock.json
node_modules/
python-vendor/

# build artifacts
/cli-dist/

# misc
.env
