name: Build

permissions: read-all

on:
  pull_request:

env:
  DOCKER_IMAGE: matejkosiarcik/azlint

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      # fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
    name: Build - ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3.4.0

      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3.9.0

      - name: Build
        uses: docker/build-push-action@v6.14.0
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true
          platforms: "${{ matrix.platform }}"
          push: false
          tags: "${{ env.DOCKER_IMAGE }}:dev"

      - name: AZLint lint
        if: ${{ matrix.platform == 'linux/amd64' }}
        run: |
          docker run --interactive --rm \
            --volume "$PWD:/project:ro" \
            --platform ${{ matrix.platform }} \
            matejkosiarcik/azlint:dev lint

      - name: Check git status - before formatting
        if: ${{ matrix.platform == 'linux/amd64' }}
        run: |
          if [ "$(git status --short | wc -l)" -ne 0 ]; then
            printf 'Found following changes before formatting:\n'
            git status
            exit 1
          fi

      - name: AZLint fmt
        if: ${{ matrix.platform == 'linux/amd64' }}
        run: |
          docker run --interactive --rm \
            --volume "$PWD:/project" \
            --platform ${{ matrix.platform }} \
            matejkosiarcik/azlint:dev fmt

      - name: Check git status - after formatting
        if: ${{ matrix.platform == 'linux/amd64' }}
        run: |
          if [ "$(git status --short | wc -l)" -ne 0 ]; then
            printf 'Found following changes after formatting:\n'
            git status
            exit 1
          fi
