name: Lint

permissions: read-all

on:
  pull_request:

jobs:
  mega-linter:
    name: MegaLinter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.2
        with:
          fetch-depth: 0 # Full git history is needed to get a proper list of changed files

      - name: Run MegaLinter
        uses: oxsecurity/megalinter@v6.22.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
          DEFAULT_BRANCH: main
          LINTER_RULES_PATH: /
